* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #07beb8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 5rem;
}

.container h1 {
  text-align: center;
}

.todo-container {
  background-color: #c4fff9;
  width: 40rem;
  min-height: 30rem;
  max-height: fit-content;
  text-align: center;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 2rem 0;
}

.todo-input {
  font-size: 1.5rem;
  outline: none;
  border: 2px solid #07beb8;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 1rem;
}

.todo-btn {
  font-size: 1.5rem;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #07beb8;
  outline: none;
  border: 2px solid #07beb8;
  cursor: pointer;
  color: #c4fff9;
}

.todo-btn:focus {
  outline: none;
}

.todo-btn:hover {
  border: 2px solid #07beb8;
  background-color: #c4fff9;
  color: #07beb8;
  transition: 0.5s all ease;
}

.todo-lists li {
  list-style: none;
  background-color: #07beb838;
  border: 2px solid #07beb8;
  display: flex;
  justify-content: space-between;
  text-align: start;
  width: 100%;
  font-size: 1.5rem;
  padding: 8px 15px 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.del-icon {
  background-color: #07beb8;
  color: #c4fff9;
  padding: 10px 10px 5px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.del-icon:hover {
  background-color: #a62029b9;
  transition: 0.5s all ease-in-out;
}

/* ========== MEDIUM DEVICES ========== */
@media screen and (max-width:1024px) {

  .todo-container {
    width: 40rem;
  }

}

/* ========== SMALL DEVICES ========== */
@media screen and (max-width:650px) {

  .todo-container {
    width: 22rem;
    margin-top: 1rem;
  }

  .todo-input {
    font-size: 1rem;
  }

  .todo-btn {
    font-size: 1rem;
  }

  .todo-lists li {
    font-size: 1rem;
  }

  .del-icon {
    font-size: .8rem;
    padding: 5px 5px 0 5px;
  }

}