* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #c4fff9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 5rem;
}

.container h1 {
  text-align: center;
}

.todo-container {
  background-color: #07beb8;
  width: 40rem;
  height: 30rem;
  text-align: center;

  padding: 10px 30px;
}